html, body {
    height: 100%;    /* This sets the height of the html and body to be 100% of the viewport height */
    min-height: 100%; /* Ensures that the minimum height is also 100% of the viewport height */
    margin: 0;        /* Removes default margin provided by browsers */
    padding: 0;       /* Removes default padding provided by browsers */
}

body {
    display: flex;       /* Enables the use of Flexbox which helps in stretching the container */
    flex-direction: column; /* Stacks child elements vertically */
}

.header{
    display: flex;
    background-color: white;
    padding-top: 2rem;

    padding-bottom: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.Title{
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}



/* Additional container to ensure content also takes full height */
#__next {
    flex: 1;
    display: flex;
}

#content{
    flex:1;
    background-color: rgb(236 236 236);
    display:flex;
    flex-direction: column;
}

.button {
    background-color: #11E496; /* Approximation of Tailwind's green-500 */
    color: white;
    padding: 6px 12px; /* Tailwind's p-2, assuming the base is 4px */
    margin-top: 8px; /* Tailwind's mt-2, assuming the base is 4px */
    margin-right: 8px;
    border-radius: 4px;
    border-width: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    
}

.addPlantButton{
    margin:auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 8px 16px;
    font-size: large;
    font-weight: bold;
}

.form, .form-input-parent {
    padding: 4px;
    margin: 2px;   
}

.form-input{
    border-style: solid;
    border-radius: 0.2rem;
    border-width: 1px;
    border-color: gray;
    padding: 4px 8px;
    margin: 2px;
    width:12rem
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #b6b6b6e0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 15rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.modalHeading{
    display: flex;
    flex-direction: column;
}
.modalHeading.h3{
    margin: auto
}

.plantList{
    display: grid;
    justify-content: center;
    column-gap: 50px;
    margin: 10px

}

.plant-item{
    padding: 0.5rem 2rem;
    margin:  20px auto;
    border-radius: 0.5rem;
    /* border-color: black;
    border-width: 2px;
    border-style: outset; */
    display: flex;
    align-items: center;
    gap: 100px;
    width: max-content;
    min-width: 40rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(249, 252, 255);

}

.plantItemHeading{
    font-weight: bolder;
}

.plantItemSubheading{
    font-weight: bold;
}

.editButton, .closeButton{
    background-color: #888a88;
}

.deletePlantButton{
    background-color: rgb(219, 87, 87);
}

.plantImage{
    width:5rem;
    height:5rem;
}